StudentEnrolmentSystemCloudSolution/EnrolmentClientApp/EnrolmentClientApp/Connected Services/EnrolmentSystemReference/EnrolmentSystem3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://studentenrolmentsystem20231110133131.azurewebsites.net/EnrolmentSystem.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StudentEnrolmentSystem" />
  <xs:import schemaLocation="https://studentenrolmentsystem20231110133131.azurewebsites.net/EnrolmentSystem.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="addStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="studentName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateEnrolled" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addStudentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCoursesForStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCoursesForStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StudentEnrolmentSystem" minOccurs="0" name="getCoursesForStudentResult" nillable="true" type="q1:ArrayOfCourse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEnrolmentForStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEnrolmentForStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StudentEnrolmentSystem" minOccurs="0" name="getEnrolmentForStudentResult" nillable="true" type="q2:ArrayOfEnrolment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewStudentDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewStudentDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/StudentEnrolmentSystem" minOccurs="0" name="viewStudentDetailsResult" nillable="true" type="q3:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="courseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cost" type="xs:decimal" />
        <xs:element minOccurs="0" name="allottedTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addCourseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStudentsInCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStudentsInCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/StudentEnrolmentSystem" minOccurs="0" name="getStudentsInCourseResult" nillable="true" type="q4:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewCourseDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewCourseDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/StudentEnrolmentSystem" minOccurs="0" name="viewCourseDetailsResult" nillable="true" type="q5:Course" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCourses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/StudentEnrolmentSystem" minOccurs="0" name="getCoursesResult" nillable="true" type="q6:ArrayOfCourse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEnrolmentForCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEnrolmentForCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/StudentEnrolmentSystem" minOccurs="0" name="getEnrolmentForCourseResult" nillable="true" type="q7:ArrayOfEnrolment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setGrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="courseID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="grade" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setGradeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setGradeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGrades">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGradesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getGradesResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="enrolStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="courseID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="enrolStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="enrolStudentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStudents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/StudentEnrolmentSystem" minOccurs="0" name="getStudentsResult" nillable="true" type="q9:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>